.App {
  text-align: center;
}
.navBar{
  display: flex;
  background-color: black;
  padding: 10px;
  justify-content: end;
}
.navTog{
  padding: 10px;
  color: wheat;
  text-decoration: none;
}
.cardCard{
  margin-top: 200px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
}
.saearChing{
  margin-top: 200px;
}

.searchInput{
  width:30%;
  height: 40px;
  border-radius: 10px;
}